body {
    background-color: #E4E6FE !important;
}

.content-apresentation {
    height: 65vh;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428_960_720.jpg") no-repeat;
    background-size: 100% 75%;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
}

.content-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .4;
}

.content-description {
    position: relative;
    top: 0;
    bottom: 60px;
    /* left: 100px; */
    /* right: 0; */
    margin: auto;
    z-index: 9;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.content-description::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    /* top: 0; */
    margin: 0 auto;
    background-color: #fff;
}

/*==============*/
body {
    background-color: #E4E6FE;
}

.free-material {
    background-color: #F2F8FC;
    padding: 0 2rem 2rem 2rem;
    max-width: 1200px;
    margin: 3rem auto;
    position: relative;
}


.btn-container {
    display: flex;
    align-items: center;
    max-width: 900px;
    /* height: 300px; */
    margin: 0 auto;
    position: relative;
    top: 0;
    /* overflow: hidden; */
}

.free-lesson {
    margin-top: 7rem;
}

.lesson-btn,
.tools-btn {
    background-color: transparent;
    color: #5D338B;
    color: #5D338B;
    border: none;
    outline: none;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    font-size: 1rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    /* top: 40px; */
    z-index: 9;
}

.active {
    color: #fff;
    transition: all 1s ease;
    color: #fff;
    background-color: #5D338B;
    transition: all 1s ease;
    height: 100px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.showBlock {
    display: block;
    animation: UpToDown .4s;
}

.hideBlock {
    display: none;
}
.tools-for-service {
    margin-top: 7rem;
}

@keyframes UpToDown {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.lesson {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    margin: 5rem auto;
    border-radius: 20px;
    animation: UpToDown 1s 1;
}


.lesson .img-box {
    display: flex;
}   

.lesson .img-box img {
    height: 100%;
    width: 100%;
  
}

.lesson-description {
    max-width: 410px;
    margin-left: 1.2rem;
    color: #2A1D56;
    padding: 2rem 1.2rem;
}

.lesson-description p {
    margin: 1.2rem 0 1.2rem 0rem;
}

.lesson-description .more-btn {
    background-color: #2A1D56;
    color: #fff;
    margin: 0;
}

.none {
    display: none;
}

.block {
    display: block;
}

.not-avaible-container {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 8rem;
    color: #2A1D56;
    max-width: 800px;
    margin: 0 auto;
}

.not-avaible {
    display: block;
    height:8rem;
}

.not-avaible .text {
    width: 100%;

}

/* .free-tools {
    display: none;
} */

@media screen and (max-width: 767px) {
    .btn-container {
        /* top: -40px; */
    }

    .lesson .img-box img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media screen and (min-width: 768px) {
    .content-apresentation {
        background: url("https://cdn.pixabay.com/photo/2016/03/09/15/29/books-1246674_960_720.jpg") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
        
    }
 
    .free-material {
        padding: 0 4rem 4rem 4rem;
    }

    .lesson {
        max-width: 800px;

    }
    
    .lesson .img-box {
        width: 262px;
        height: 270px;
        display: flex;
    }   

    .lesson .img-box img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

    }

    .lesson-btn, .tools-btn {
        font-size: 1.6rem;
    }

    .btn-selected {
        width: 330px;
        left: 60px;
    }


}
