/*======================MAIN/HERO IMAGE CSS================================================*/
.card-presentation {
    background: url('/assets/imgs/demo_background.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.card-presentation .content {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* position: relative; */
    /* top: 60px; */
    z-index: 9;
    max-width: 1980px;
    margin: 0 auto;
}

.content p {
    color: #fff;
}

.content .title {
    font-size: 30px;
    color: #fff;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.content .description {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2rem;
    max-width: 800px;
    font-weight: 300;
    text-align: center;
    padding: 0 2rem;
}

.content .buttons {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 420px;
    margin: 2rem auto 0 auto;
    display: flex;
}

.btn1, .btn2 {
    margin-left: 0;
}

.content .buttons a {
    background: #5d338b;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 40px;
    transition: all ease .4s;
    width: 100%;
    max-width: 180px;
    padding: .5rem 0;
    margin: 0 auto;
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
}



.content .buttons a:hover {
    background-color: #49286d;
}


.card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    
}

/*======================MAIN/HERO IMAGE CSS================================================*/
/*======================MAIN/SOBRE SECAO CSS================================================*/

.about {
    background-color: #F2F8FC;
    color: #fff;
   
}

.about-container {
    padding:4rem 1.2rem 1rem 1.2rem;
    max-width: 1980px;
    margin: 0 auto;
}

.about-container  img {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.about-container .about-text {
    padding: 2rem;
    /* max-width: 500px; */
    margin: 0 auto;
    background-color: #5D338B;
    width: 95%;
    position: relative;
    bottom: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title-box {
    line-height: 3rem;
    margin:0 0 3rem 2rem;
}

.title-box::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 96px;
    background-color: #E592FA;
    left: 15px;
}

.card-box {
    /* display: flex; */
    justify-content: space-between;
    background-color: #5d338b;
    background-color: #c759c5;

}

.first-paragraph {
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.about-text .more-btn {
    background-color: #E592FA;
    color: #2A1D56;
}

.more-btn:hover {
    background-color: #49286d;
    color: #fff;
}

.card-box {
    padding: 1rem;
    max-width: 575px;
    margin: 0 auto;
}

.card-value {
    height: 300px;
    background-color: #fff;
    margin-bottom: 1rem;
}


/*======================MAIN/SECAO SOBRE CSS================================================*/
/*======================MAIN/SECAO VALORES CSS================================================*/
.values-container {
    background-color: #F2F8FC;
   
}

.value {
    width: 100%;
    /* max-width: 338px; */
    /* max-width: 21.125rem; */
    height: 410px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    /* background-attachment:local; */
    /* background-size: cover;   */
    /* background-position: 50% ; */
    
}

.value1 {
    background: url("/assets/imgs/wind.jpg") center 100%;
}

.value2 {
    background: url("/assets/imgs/fishes.jpg") center 100%;
}

.value3 {
    background: url("/assets/imgs/value2.png") center 100%;
}

.value4 {
    background: url("/assets/imgs/value3.png") center 100%;
}


.value-name {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 40%;
    margin-bottom: 1rem;
    transition: all ease .8s;
    display: block;
}

.value-description {
    color: #fff;
    position: relative;
    height: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    transform:translateY(400px) ;
    transition: all ease .8s;
    
}

.value:hover .value-description {
    transform: translateY(0px);
}

.value:hover .value-name {
    margin-top: 2rem;
    top: 0;
}

.value-description p {
    line-height: 1.5rem;
}

.value-overlay {
    height: 100%;
    width: 100%;
    background-color: #060606;
    opacity: .4;
    position: absolute;
    left: 0;
    z-index: -1;
}
/*======================MAIN/SECAO VALORES CSS================================================*/

/*======================MAIN/SECAO CURSOS================================================*/

.courses {
    /* background: url("/imgs/wave.png") no-repeat; */
    background-size: 100%;
    height: 620px;
    width: 100%;
    background-size: 100%;
    display: flex;
    align-items: center;
}

.courses-row {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.courses-row h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #17157E;
    font-weight: 600;
}

.card {
    height: 100%;
    max-width: 290px;
    border-radius: 30px !important; 
}

.img-course img {
    width: 100%;
    max-width: 290px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.course-description {
    background-color: #fff;
    padding: 1.5rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #2A1D56;

}

.course-description h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.course-description p {
    font-weight: 600;

}

.course-btn {
    background-color: #5D338B;
    color: #fff;
}

.owl-carousel {
    display: flex;
    align-items: center;    

}

.cards .owl-item {
    display: flex;
    justify-content: center;
    z-index: 99;

}


.cards .owl-nav {
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    
    
}

.cards .owl-nav .owl-prev {
    position: relative;
    left: -70px;
    /* cursor: cell; */
}

.cards .owl-nav .owl-next {
    position: relative;
    right: -70px;
    background: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none !important;
}


/*======================MAIN/SECAO CURSOS================================================*/

/*======================MAIN/SECAO AGENDAMENTO================================================*/
.scheduling {
    background-color: #E4E6FE;
}

.scheduling-container {
    max-width: 1360px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.scheduling-container img {
    width: 100%;
}

.scheduling-description {
    background-color: #E4E6FE;
    color: #5D338B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 2rem;
}

.scheduling-description h1 {
    margin-bottom: 1.3rem;
    font-weight: 800;
}

.scheduling-description p {
    line-height: 1.5;

}

.scheduling-description .more-btn {
    font-weight: 600;
}



.scheduling-img {
    height: 100%;
    width: 360px;
    max-width: 768px;   
}

.scheduling-img img {
    width: 100%;
}

/*======================MAIN/SECAO AGENDAMENTO================================================*/

/*======================MAIN/SECAO PALESTRAS================================================*/
.events {
    background: url("/assets/imgs/background.png");
    display: flex;
    flex-direction: column;
}

.events h2 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 600;

}

.events-container {
    max-width: 900px;
    margin: 0 auto;
}

.event-img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.event-description {
    width: 100%;
    /* max-width: 525px; */
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 2rem;
    
}

.event-description .title {
    font-size: 1.5rem;
}

.event-description .description {
    line-height: 1.6rem;
    padding: 0;
}

.event-description .more-btn {
    background-color: #fff;
    color: #5D338B;
}

.event-description .more-btn:hover {
    background-color: #864cc4;
    color: #fff;
}
.event-description .title,
.event-description .description,
.event-description .event-type,
.event-description .date,
.event-description .hour {
    margin-bottom: 1.6rem;

}


.events .owl-nav {
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    
}

.events .owl-nav .owl-prev {
    position: relative;
    left: 40px;
}

.events .owl-nav .owl-next {
    position: relative;
    right: 40px;
    background: none;
}

/*======================MAIN/SECAO PALESTRAS================================================*/

/*======================MAIN/SECAO VIDEOS================================================*/
.videos {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 3rem 0;

}

.videos h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #4F157C;
    text-align: center;
}

.videos-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    max-width: 1080px;
}

.video-container {
    position: relative;
    height: 100%;
    /* overflow: hidden; */
    margin-bottom: 3rem;
    transition: all .4s ease;
}

.video-container video {
    width:300px;
    height: 168.75px;
    background: url("/assets/imgs/woman-hero.jpg");
    background-size: 100%;
    border-radius: 10px;
}

.video-container .control {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
    visibility: hidden;
    background-color: rgba(105, 105, 105, 0.3);
    padding: .4rem .8rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.controls .mute {
    width: 15px;
    height: auto;
    margin-top: .8rem;
    cursor: pointer;
}

.controls .volume {
    height: 5px;
    width: 60px;
    position: absolute;
    top: 11px;
    left: -110px;
    bottom: 0;
    right: 0;
    margin: auto 0;
    border-radius: 10px;
    cursor: pointer;
}

.volume-box {
    height: 30px;
    width: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    align-items: center;
}

.control .mute:hover .volume {
    left: 50px;
}


.controls .time {
    position: absolute;
    top: 21px;
    bottom: 0;
    color: #fff;
    font-weight: 700;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    border-radius: 5px;
    background-image: linear-gradient(#864cc4, #864cc4);
    background-size: 85% 100%;
    background-repeat: no-repeat;
}
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #864cc4;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    cursor: pointer;
}
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

  .controls .full_screen {
    width: 18px;
    height: auto;
    cursor: pointer;
    float: right;
    margin-top: .8rem;
    margin-right: .5rem;
}

.video-container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5d338b;
    padding: .4rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: .4rem .8rem 0 0;

}

.video-container .buttons .play,
.video-container .buttons .pause {
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

.video-container .buttons .pause {
    display: none;
}

.video-container .buttons .full_screen {
    cursor: pointer;
}

.video-container:hover .controls {
    visibility: visible;
    transition: all .5s ease;
}

.minimize {
    display: none;
}

.progress-bar {
    height: 6px;
    width: 100%;
    background-color: #fff;
    opacity: .8;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.purple-bar {
    height: 100%;
    width: 0;
    background-color: #5D338B;
    position: relative;
}

.buffer-bar {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    z-index: -1;
}


/* .progress-bar:hover .bar-handler { */
    /* display: block; */
/* } */


.video-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    transition: all .5s ease;
}

.video-overlay {
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: .4;
    z-index: 1;
}

.video-box video {
    position: fixed;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 99;
    border-radius: 10px;
    width: 90%;
    /* max-height: 500px    ; */
}

.video-box {
    position: relative;
    display: flex;
    align-items: center;
}

.close-popup {
    position: absolute;
    z-index: 99;
    top: 0px;
    right: 0px;
}

.videos .more-btn {
    width:auto;
    padding: 1rem;
    margin: 0;
    color: #fff;
    background-color: #5D338B;
    font-size: 1.2rem;
}

.videos .more-btn:hover {
    background-color: #49286d;
}

/*======================MAIN/SECAO VIDEOS================================================*/


@media screen and (min-width: 920px) {
  /* =========================== MAIN / SOBRE SECAO CSS================================ */
    .about {
        position: relative;
    }
   
    .about-container {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-container .img-box {
        padding: 0;
    }

    .about img {
        width: 426px;
        height: 465px;
    }

    .about  .about-text {
        line-height: 2rem;
        margin: 0;
        width: 60%;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;

    }

    .about-text h1 {
        font-size: 2rem;
    }

    
    .title-box {
        position: relative;
        line-height: 3rem;
        margin-bottom: 24px;
    }

    .first-paragraph {
        margin-bottom: 1rem;
    }

    .title-box {
        margin-left: 3rem;
    }

    .title-box::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 96px;
        background-color: #E592FA;
        left: -46px;
    }

    .card-box {
        display: flex;
        justify-content: space-between;
        background-color: #5d338b;
        background-color: #c759c5;

    }
    /* =========================== MAIN / SOBRE SECAO CSS================================ */

    /*======================MAIN/SECAO VALORES CSS================================================*/
    .values-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }    

    .value {
        /* max-width: 338px; */
    }

    .value .values4 {
        width: 100%;
        max-width: 337px;
    }
    /*======================MAIN/SECAO VALORES CSS================================================*/

    /*======================MAIN/SECAO AGENDAMENTO CSS================================================*/
    .scheduling-container {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    
    .scheduling-container img {
        width: 50%;
    }

    .scheduling-description {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        padding: 3rem;
        max-width: 50%;
    }
    
    /*======================MAIN/SECAO AGENDAMENTO CSS================================================*/
    
    /*======================MAIN/SECAO PALESTRAS================================================*/
    .events {
        padding-bottom: 3rem ;
    } 
    
    .event {
        display: flex;
        justify-content: center;
    }
    
    .event-img img{
        width: 376px;
        height: 376px;
        border-radius: 30px;
    }

    
    .event-description {
        width: 70%;
        max-width: 525px;
        margin-left: 4rem;
        text-align: initial;
        margin-top: 0;
    }
    /*======================MAIN/SECAO PALESTRAS================================================*/
    
    /*======================MAIN/SECAO VIDEOS================================================*/
    .videos {
        background: url("/assets/imgs/background_carousel.png") 100%;
    }
    
    .videos-row {
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        padding: 2rem;
        width: 80%;
        margin: 0 auto;
    }
    /*======================MAIN/SECAO VIDEOS================================================*/

    /*======================MAIN/SECAO CURSOS================================================*/
    .courses {
        background: url("/assets/imgs/wave.png") no-repeat 100%;
        background-size: cover;
    }
    /*======================MAIN/SECAO CURSOS================================================*/
    
    
   }

@media screen and (min-width: 768px) {
    
    /* =========================== MAIN / HERO IMAGE CSS================================ */

    .paralax {
        width: 1190px;
        height: 860px;
    }

    .card-presentation {
        height: 100vh;
    }

    .card-presentation .content {
        /* margin-left: 2.5rem; */
        height: 90%;
        padding: 0 3rem;
    }

    .card-overlay {
        opacity: .15;
    }

    .content .title {
        font-size: 60px;
        line-height: 4rem;
        text-align: initial;
    }

    .content .description {
        text-align: initial;
        padding: 0;
    }

    .content .buttons {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        max-width: 400px;
        margin: 2rem 0 0 0;
    }


    .content .buttons a {
        width: 240px;
        font-size: 1.4rem;
        margin: 0;
     
    }

    .content .buttons a:first-child {
        margin-bottom: 0;
        margin-right: 1.875rem;
    }
    /* =========================== MAIN / HERO IMAGE CSS================================ */

    /*======================MAIN/SECAO VIDEOS================================================*/
    .video-container {
        margin: 0;
    }
   
    .video-container video {
        margin: 1rem;
    }

    .video-container .buttons {
        margin: 1.6rem 1.8rem 0 0;
    }

    .video-box video {
        width: 60%;
    }

    .controls {
        bottom: 17px;
    }
    /*======================MAIN/SECAO VIDEOS================================================*/

}

@media screen and (min-width: 920px) and (max-width: 1280px) {
     /* =========================== MAIN / SOBRE SECAO CSS================================ */
    .about img {
        width: 426px;
        height: 531px;
    }
   
    .about  .about-text {
        width: 50%;
    }
    /* =========================== MAIN / SOBRE SECAO CSS================================ */
    

}

@media screen and (max-width: 390px) {
    
    /*========================MEDIA QUERIE - MAIN/SECAO CURSOS CSS==================================*/
    /* .courses {
        background: url("/imgs/wave.png");

    } */
    /*========================MEDIA QUERIE - MAIN/SECAO CURSOS CSS==================================*/
    
}

/* 
#5d338b - cor1
#c759c5 - cor2 */