/*==============MAIN / HERO SECTION================*/

.medical-apresentation {
    height: 65vh;
    width: 100%;
    background: url("/assets/imgs/consultas_back_2.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
}

.medical-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .4;
}

.medical-title {
    position: relative;
    top: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 2.4rem;
    height: 70px;
}

.medical-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 4px;
    background-color: #fff;

}

.medical-description {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    max-width: 420px;
    width: 80%;
    margin-top: 3.5rem;

}
/*==============MAIN / HERO SECTION================*/

/* ============MAIN / ESPECIALIDADES MEDICAS========================= */
.medical-specialities h2 {
    text-align: center;
}

.medical-specialities h2 {
    color: #5D338B;
    font-weight: 900;
    position: relative;
    padding: 1rem 0;
}

.medical-specialities h2:after {
    content: "";
    position: absolute;
    width: 135px;
    height: 4px;
    background-color: #5D338B;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.specialities-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 430px));
    padding: 4rem 0 2rem 0;
}


.card {
    max-width: 300px;
}

.course-description {
    border-radius: 30px;
}

/* ============MAIN / ESPECIALIDADES MEDICAS========================= */

/* ============MAIN / MARCAÇÃO DE CONSULTAS========================= */
.appointment-booking {
    background-color: #E4E6FE;
    padding-top: 5rem;
}

.appointment-container {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* display: flex; */
    padding-top: 5rem;
}

.pacient-info {
    padding: 0 2rem;
}

.appointment-container h2 {
    color: #5D338B;
    margin: 0 0 3rem 2rem;
    
    font-weight: 900;

}

.block1 p,
.block2 p,
.block3 p,
.block4 p,
.block5 p {
    color: #5D338B;
    font-weight: 800;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.block3 p,
.block4 p,
.block5 p {
    margin-top: 1rem;
}

.block1 input,
.block2 input,
.block3 input,
.block4 input,
.block5 input {
    height: 2rem;
    border: none;
    outline: none;
    background-color: #F6F6F6;
    padding: 1.3rem 1rem;
    border-radius: 50px;
    color: #5D338B;
    font-size: .9rem;
    font-weight: 800;
}

.block1 ::-webkit-input-placeholder,
.block2 ::-webkit-input-placeholder,
.block4 ::-webkit-input-placeholder,
.block5 ::-webkit-input-placeholder {
    font-weight: 900;
    color: (93 51 139 / 30%);
    
}


.block1 input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.block2 .country-num { 
    height: 41.59px;
    border: none;
    background-color: #F6F6F6;
    color: #5D338B;
    font-weight: 800;
    border-radius: 50px;
    padding: 0 1rem;
    margin-right: 18px;
    width: 20%;
    text-align: center;
}

.block2 .country-num::-webkit-outer-spin-button,
.block2 .country-num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.block2 input[type="number"] {
    -moz-appearance: textfield;
}

.block2 select option {
    margin-right: 1rem;
}

.block2 input {
    width: 100%;
}

.message-label {
    font-weight: 700;
    margin-top: 1rem;
    color: red;

}

input[haserror=true] {
    outline: red solid 2px;
    outline-offset: 2px;
} 

.block3 textarea {
    resize: none;
    width: 100%;
    height: 6rem;
    padding: 1rem;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #5D338B;
}

.block3 ::-webkit-input-placeholder {
    color: (93 51 139 / 30%);
}

.block4 .input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.block4 .input select {
    width: 100%;
    height: 41.59px;
    background-color: #F6F6F6;
    border-radius: 50px;
    border: none;
    color: #5D338B;
    font-weight: 800;
    font-size: .9rem;
    padding-left: .9rem; 
    appearance: none;
    outline: none;
}


.block4 .input .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 41.59px;
    width: 30%;
    background-color: #5D338B;
    color: #fff;
    font-weight: 800;
    line-height: 41.59px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

.block5 .options {
    display: flex;
    align-items: center;
    color: #5D338B;
    font-weight: 600;
}


.options input {
    margin-right: 15px;
}

.options label {
    margin-right: 3rem;
}

.options label:last-child {
    margin: 0;
}

.block6 {
    margin-top: 1rem;
}

.urgency {
    font-size: 1rem!important;
    background-color: #874dc5;
    color: #fff;
    padding: 1rem .3rem!important;
    display: block;
    width: 100%!important;
}

.about-med-apointments {
    max-width: 900px;
    margin: 0 auto;
    color: #5D338B;
    font-size: 1.2rem;
    padding: 0 1rem;
} 

.about-med-apointments h2 {
    text-align: center;
    color: #5D338B;
    font-weight: 900;
    position: relative;
    padding: 1rem 0;
}

.about-med-apointments h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90px;
    height: 4px;
    background-color: #5D338B;
    margin: 0 auto;
}

.levels-apointments {
    margin: 3rem auto 0 auto;
}

.levels-apointments p {
    margin-bottom: 1rem;
}

.levels-apointments .underline {
    text-decoration: underline;
}

.more-details p {
    margin-bottom: 1rem;
}

.know-me {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #5D338B;
    color: #fff;
    padding: 2rem 1rem;
    border-radius: 20px;
    
}

.know-me p {
    margin-bottom: 2rem;
}

.know-me a {
    background-color: #fff;
    padding: .7rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: all .4s ease;
    color: #5D338B;
}

.know-me a:hover {
    background-color: #874dc5;
    color: #fff;
}

/*========================MAIN / CALENDARIO=============*/

.day-marking {
    /* max-width: 270px; */
    width: 100%;
    /* margin: 4rem auto 0 auto; */
    align-items: center;
}

.calendar {
    width: max-content;
    height: max-content;
    background-color: #F6F6F6;
    padding: 1rem 1.7rem .5rem 1.7rem;
    border-radius: 30px;
    position: relative;
    margin: 4rem auto 0 auto;
    
}

.months {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.month-year {
    color: #5D338B;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}

.month-year .month, 
.month-year .year {
    cursor: pointer;
    transition: all .4s ease;
    border-radius: 10px;
}

.month-year .month {
    padding: .3rem .8rem;
}

.month-year .year {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}

.month-year .month:hover {
    background-color: #5D338B;
    color: #fff;
}

.arrow-left,
.arrow-right {
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: all .4s ease;
}

.arrow-left {
    margin-right: 1rem;
    color: #5D338B;
    height: 25px;
    width: 25px;

}

.arrow-right {
    margin-left: 1rem;
    height: 25px;
    width: 25px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #5D338B;
    color: #fff;
}

.full-date {
    text-align: center;
    margin-bottom: 1rem;
    color: #5D338B;
    font-weight: 700;
    font-size: 1.1rem;
}

.today {
    background-color: #5D338B;
    color: #fff!important;
}

.week-days {
    background-color: #341C4D;
    color: #fff;
    font-size: .9rem;
    height: 33px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 30px;
}

.week-days span {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 33px;
    text-align: center;
    padding: 0 .4rem;
}

.week-days span:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.week-days span:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
}

.selected {
    background-color: #5D338B;
    transition: all .4s ease;
}

.daysContainer {
    display: grid;
    /* grid-template-columns: repeat(7, max-content); */
    grid-template-columns: repeat(7, 35px);
    justify-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}


.daysContainer p {
    margin: 0 auto;
    width: 29px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    color: #5D338B; 
    line-height: 40px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .4s;
}

.daysContainer p:hover {
    background-color: #5D338B;
    color: #fff;
}

.day,
.today {
    animation: showUp .9s;

}

@keyframes showUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1; 
    }
}

@keyframes showUpNp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: .3; 
    }
}

.prev-date, 
.next-date {

    opacity: .3;
    animation: showUpNp .9s;
    
    /* display: none; */
}

.daySelected {
    border: 2px solid #5D338B;
}

/*==========MAIN / SELECAO DE HORARIO========================================*/
.time-stamp {
    margin-top: 2.8rem;
    width: 100%;
    padding: 0 1rem;
}

.time-stamp p {
    color: #5D338B;
    font-weight: 800;
    font-size: .9rem;
    margin-bottom: 1.4rem;
}

.hour-select {
    background-color: #F6F6F6;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
    height: 42px;
    line-height: 42px;
}

.hour-select span {
    margin-right: 10px;
}

.hour-select span:last-child {
    margin: 0;
}

.hour {
    width: 70%;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    color: #5D338B;
}

.system-hour {
    display: block;
    background-color: #5D338B;
    color: #fff;
    width: 30%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-weight: 800;
}

/* ===================================== */

.terms {
    margin-top: 4rem;
    width: 100%;
    height: 120px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.accept {
    font-size: .9rem;
    font-weight: 600;
    color: #5D338B;
    margin-right: 1rem;
}

.accept input {
    margin-right: 15px;
}

.confirm-btn {
    text-decoration: none;
    color: #5D338B;
    background-color: #fff !important;
    font-weight: 700;
    font-size: 1.2rem;
    /* height: 70px; */
    padding: .6rem 1rem;
    /* line-height: 70px; */
    border-radius: 50px;
    transition: all .4s ease;
}

.confirm-btn:hover {
    background-color: #5D338B!important;
    color: #fff;
}

.avaible-day {
    color: rgb(18, 209, 75) !important;
}

.time-selection {
    height: 200px;
    width: 90px;
    background-color: rgb(218, 218, 218);
    position: absolute;
    right: -100px;
    border-radius: 20px;
}

.time-selection p {
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: #5D338B;
    margin-top: 1rem;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.whatsapp img,
.instagram img {
    display: inline!important;
}
/* ============MAIN / MARCAÇÃO DE CONSULTAS========================= */

@media screen and (min-width: 600px) {
    .day-marking {
        display: flex;
        align-items: flex-start;
        padding: 0 2rem;
        margin-top: 3rem;
        max-width: 100%;
        z-index: 9;
    }

    .time-stamp {
        margin: 0 0 0 3rem;
    }
}

@media screen and (min-width:768px) {
    .calendar {
        margin-top: 0;
    }

    .medical-apresentation {
        background: url("/assets/imgs/consultas_back.png") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }

    
    .appointment-container .box {
        display: flex;
        justify-content: center;
        padding: 0 5rem;
    }

    .appointment-container h2 {
        max-width: 85%;
        margin: 0 auto 3rem auto;
        font-size: 1.8rem;
    }

  
    .pacient-info {
        margin-right: 3.875rem;
        min-width: 310px;
        max-width: 460px;
        width: 50%;
        padding: 0;
    }

    .block1 input {
        width: 100%;
    }



    .block4 .input .btn {
        width: 20%;
    }

    .confirm-btn {
        padding: .6rem 5rem;
    }

    .accept {
        font-size: 1.2rem;
        margin: 5.25rem;
    }

    .day-marking {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        width: 50%;
        margin: 0;

    }

    .time-stamp {
        margin: 2.063rem 0 0 0;
        width: 290px;
    }
}
